[Unit]
Description=Student Management System
After=network.target mysql.service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/student-management
EnvironmentFile=/home/ubuntu/student-management/.env
ExecStart=/usr/bin/java -jar /home/ubuntu/student-management/student-management.jar
SuccessExitStatus=143
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
